
CG4_Start/DirectXGame/lib/fbx_sdk/lib/libfbxsdk-md.lib
CG4_Start/DirectXGame/lib/fbx_sdk/lib/libfbxsdk-mt.lib
CG4_Start/DirectXGame/lib/fbx_sdk/lib/libxml2-md.lib
CG4_Start/DirectXGame/lib/fbx_sdk/lib/libxml2-mt.lib
CG4_Start/DirectXGame/lib/fbx_sdk/lib/zlib-md.lib
CG4_Start/DirectXGame/lib/fbx_sdk/lib/zlib-mt.lib
